.board-row{
  display: flex;
  /* background-color: aqua; */
  align-items: center;
  justify-content: space-evenly;
}

.board-container{
  margin: 10px;
}

.gameWonText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  height: 70vh;
  gap: 20px;
}

.playAgainBtn{
  font-size: 24px;
  padding: 12px 18px;
  border-radius: 20px;
  border:none;
  cursor: pointer;
  background-color: rgb(37, 128, 128);
  transition: 0.2s ease-in-out;
}

.playAgainBtn:hover{
  background-color: rgb(33, 113, 113);
}